<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhoisScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LinksChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WhoisScraper.Properties.Settings>
            <setting name="isProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="isProxyAuthEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </WhoisScraper.Properties.Settings>
        <LinksChecker.Properties.Settings>
            <setting name="isProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="isProxyAuthEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="featureTittle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="featureTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="featureRel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="featureExtLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="featureAnchor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="featurePr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="googleCache" serializeAs="String">
                <value>http://www.google.com/search?hl=en&amp;q=cache%3AURL</value>
            </setting>
            <setting name="featureCache" serializeAs="String">
                <value>True</value>
            </setting>
        </LinksChecker.Properties.Settings>
    </userSettings>
</configuration>